* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F1E8;
}

#header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #FFFFFF;
  height: 60px;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 25px;
}

#header img {
  width: 40px;
  padding: 10px;
}

nav {
  color: #2B2F26;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  height: 60px;
}

nav a {
  margin: 0px 30px;
  color: #2B2F26;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  padding: 18px 10px;
}

nav a:hover {
  color: #CD5D67;
  background-color: inherit;
  transition: background-color 0.5s ease;
}

nav a:focus {
  background-color: #F2EADB;
  color: #968772;
  padding: 18px 10px;
}

nav a.active-link {
  color: #968772;
}

h1 {
  color: #131511;
  text-align: center;
  padding-top: 100px;
  font-size: 60px;
  font-family: Merriweather, serif;
  font-weight: 400;
}

h2 {
  color: #131511;
  text-align: center;
  margin: 10px 0px 30px 0px;
  font-size: 48px;
  font-weight: lighter;
}

#main1 {
  display: flex;
  max-width: 1300px;
  margin: 20px 20px 0px 20px;
  height: 400px;
}

#main2 {
display: flex;
height: 200px;
margin: 0px 20px;
max-width: 1300px;
}

ul li {
  min-height: 200px;
  /*min-width: 100px;*/
  width 25%;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 10px;
  background-size: cover;
}

li a {
  background-color: #2b2f26;
  color: #F2F1E8;
  padding: 10px 0px 10px 0px;
  width: 40%;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

#product1 {
  background-image: url(../images/product-1.jpg);
  background-size: cover;
  flex: 2 1 100px;
}
#product2 {
  background-image: url(../images/product-2.jpg);
  flex-basis: 220px;
}
#product3 {
  background-image: url(../images/product-3.jpg);
  flex-basis: 220px;
}

#product4 {
  background-image: url(../images/product-4.jpg);
  flex-basis: 220px;
}

#product5 {
background-image: url(../images/product-5.jpg);
flex-basis: 220px;
}

#product6 {
background-image: url(../images/product-6.jpg);
flex: 1 1 100px;
}

#product7 {
  background-image: url(../images/product-7.jpg);
  flex-basis: 220px;
}

footer {
background-color: #2b2f26;
color: white;
padding: 40px 30px;
margin-top: 40px;
}
